@model IEnumerable<LabTask.Models.Order>

@{
    ViewBag.Title = "MyOrder";
}

<h2>MyOrder</h2>

<a href="/product/index" class="btn btn-warning">Add Order</a>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
