@model IEnumerable<FoodMonkey.Models.report>

@{
    ViewBag.Title = "UserReports";
}

<h2>UserReports</h2><br><br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rep_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restaurant_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rep_description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rep_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restaurant_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rep_description)
        </td>
    </tr>
}

</table>
