@model LabTask.Models.Product
@{
    ViewBag.Title = "ViewDetails";
}

<h2>Product Details</h2>
<p>Id: @Model.Id</p>
<p>Name: @Model.ProductName</p>
<p>Price: @Model.Price</p>
<p>Quantity: @Model.Quantity</p>
<p>Description: @Model.Description</p>